.navbar {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0;
    border-radius: 0;
    opacity: 0.95;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%;
    max-height:900px;
    min-height:200px;
    margin: auto;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display:none; 
    }
}

#indicadores li{
    background-color:goldenrod;
    border-width: 1px;
    border-color:black;
}

#controls{
    background-color:red;
    
}

#container{
    font-family: 'Source Sans Pro', sans-serif;
}

#titulo{
    font-weight: bold;
}

.row{
    margin-bottom: 50px;
}

.row img{
    width:100%;
}

#img-spa{
    height:400px;
}

#myCarousel{
    margin-top:50px;
}

#texto p{
    width:100%;
}
